.navbar
{
  padding-top: 2px;
  padding-bottom: 2px;
}

.carousel img
{
  width: 1173px;
  height: 719px;
  object-fit: cover;
}

@media(max-width: 1173px)
{
  .carousel img
  {
    width: 1173;
    height: 1182;
    object-fit: cover;
  }
}