.navbar
{
  padding-top: 2px;
  padding-bottom: 2px;
}
.parallax
{
  background-image: url(img/about.jpg);
  width: 100vw;
  min-height: 700px;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transbox
{
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}
h1
{
  padding-top: 5px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 15px;
  color:darkgrey;
  opacity: 1;
}
p
{  
  opacity: 1;
  text-align: center;
}

.noscroll
{
  overflow: hidden;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  object-position: 50vw;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media(orientation:portrait)
{
  .carousel
  {
    height: 95vh;
  }
  .carousel img
  {
    height: 95vh;
    object-position: -100vw;
  }
  .parallax
  {
    background-size: auto 100vh;
    opacity: 0.8;
    background-position: top;
    height: 100vh;
  }
  .transbox
  {
    position: absolute;
    top: 60px;
  }
}

@media(orientation: landscape)
{
  .carousel
  {
    width: 100vw;
    height: 94.1vh;
  }
  .carousel img
  {
    max-width: 100vw;
    max-height: 100vw;
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
}